.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to bottom, #f6e6fd, #9c6ef0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  background: linear-gradient(to right, #99919d, #7d6ef0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.message-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.message-item {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-field {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  outline: none;
}

.input-field:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.send-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

.send-button:hover {
  background-color: #45a049;
}
